<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Swap App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Face Swap App</h1>
    <video id="video" autoplay></video>
    <button id="captureButton">사진 찍기</button>
    <canvas id="canvas" style="display: none;"></canvas>
   
    <div class="container">
        
        <form action="/" method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <div>
                <button type="submit">Swap Face</button>
            </div>
        </form>
    </div>
   
   
    <div class="container"> 
        <h1>숫자 입력 예제</h1>
        <input type="number" id="numberInput" placeholder="숫자를 입력하세요">
        <button id="submitButton">제출</button>
        <p id="result"></p>
    </div>
    <!-- 스크립트 파일을 로드합니다. -->
    <script src="java_script.js"></script>
</body>
</html>
