.video {
    width: 100%;
    max-width: 600px;
}
.body {
    font-family: Arial, sans-serif;
}
.container1 {
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.button {
    padding: 10px 20px;
    margin-top: 10px;
}
.h1{
    width: 20%;
    position: relative;

    left: 50%;
}